#bgchange {
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 0px;
}

#bgchange:hover {
    color: #BE3739;
    transform: scale(1);
    -webkit-transform: scale(1);
}

#friend a, #other a {
    font-weight: normal;
    font-size: 100%;
    text-align: center;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    margin: 0px;
    mask-border: 1px;
    white-space: nowrap;
}

* {
    text-transform: none;
}

div.intro--banner button {
    margin: 5px;
    text-transform: none;
}

div.about--banner a {
    margin: 2px, 5px, 2px, 5px;
    text-transform: none;
}

div.intro--options h3 {
    text-transform: none;
}

a:hover {
    color: #BE3739;
}

div .friend {
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.side-nav>li span {
    color: white;
    font-weight: bold;
}

.side-nav>li::before {
    color: lightgray;
}

/*
https://www.jianshu.com/p/9220b0aaa7c7
*/

/*模糊效果*/

/*
.mask {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    padding: 5px;
}

.blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    zoom: 1;
    padding: 5px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}

.blur:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: inherit;
    filter: blur(2px);
    z-index: 2;
}
*/

.container::after {
    position: absolute;
    align-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, .5);
    padding: 0, 0, 0, 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    z-index: -3;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    zoom: 1;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
    background-image: url("https://api.imalan.cn/random/?c=unsplash&s=large&r=img");
}

/*https://www.jianshu.com/p/792bd6fbea7a*/

.about--banner {
    line-height: 30px;
}

div .other {
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.intro--options>a {
    text-align: center;
    color: lightgray;
}

.intro--options>a:hover {
    color: #BE3739;
}

::-moz-selection {
    background: #BE3739;
}

::selection {
    background: #BE3739;
}

::-moz-selection {
    background: #BE3739;
}

.side-nav li:nth-child(6)::before {
    content: "06"
}

.intro--banner {
    height: 500px
}

.intro--banner::before {
    content: "";
    position: absolute;
    bottom: 20px;
    left: -15px;
    right: 0;
    height: 1.5px;
    background-color: lightgray;
    margin-top: 50px;
}

.intro--banner::after {
    display: none;
    margin-top: auto;
}

.intro--banner::before {
    display: none;
}

@media(max-width:900px) {
    .intro--banner {
        height: 450px
    }
    .intro--banner h1 {
        font-size: 55px
    }
    .intro--options>a {
        margin-right: 30px
    }
    .intro--options>a:last-child {
        margin-right: 0
    }
    .work-request--options {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around
    }
    .work-request--options .options-a, .work-request--options .options-b {
        display: block;
        width: auto
    }
}

@media(max-width:767px) {
    .intro--banner {
        height: 400px;
    }
    .intro--banner h1 {
        font-size: 44px
    }
    .intro--options {
        display: block
    }
    .intro--options>a {
        display: block;
        max-width: 100%;
        margin: 0 0 30px 0
    }
    .intro--options>a:last-child {
        margin-bottom: 0
    }
    #other {
        font-size: 75%;
    }
}

@media(max-width:600px) {
    .intro--banner {
        height: 420px
    }
    .intro--banner h1 {
        font-size: 55px
    }
}

@media(max-width:600px) and (max-height:750px) {
    .intro--banner {
        height: auto
    }
    .intro--banner h1 {
        margin-top: 20px;
    }
}

@media(max-width:100px) {
    .device-notification {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }
}

@media(max-width:600px) {
    .work-request--options label {
        width: 100px;
        margin-bottom: 5px;
        font-size: 12px
    }
}

@media(max-height:325px) {
    .device-notification {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }
}

@media(max-height:550px) {
    .intro--options {
        display: none;
    }
    .work-request--options label {
        width: 100px;
        margin-bottom: 5px;
        margin-top: 5px;
        line-height: 30px;
        font-size: 8px;
        font-weight: normal;
    }
    .work-request--information .information-name, .work-request--information .information-email {
        height: 20px;
        font-size: 12px
    }
    .work-request input[type="submit"] {
        width: 400px;
        max-width: 80%;
        line-height: 30px;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        background-color: #BE3739;
        border: 0;
        border-radius: 0
    }
    #other {
        font-size: 75%;
    }
}

@media(max-height:600px) {
    .l-side-nav {
        display: none;
    }
    h1, h2 {
        display: none;
    }
    .work-request--options {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    .work-request--options .options-a, .work-request--options .options-b {
        display: block;
        width: 10%;
    }
}

@media(max-height:700px) {
    .intro--banner {
        height: auto;
        margin-top: 20px;
    }
    .about--banner {
        height: auto;
        margin-top: 20px;
    }
    .work-request--options {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around
    }
    .work-request--options .options-a, .work-request--options .options-b {
        display: block;
        width: auto
    }
}

@media(max-height:750px) {
    .intro--banner::before {
        display: none;
    }
}

@media(max-height:750px) and (min-height:450px) {
    .intro--options {
        margin-top: 15px;
        display: flex;
        width: 100%;
    }
}

.work-request--options label {
    border-radius: 0px;
}

.work-request--options label:hover {
    transform: scale(1.0);
}

.work-request input[type="submit"] {
    border-radius: 0px;
}

.work-request input[type="submit"]:hover {
    transform: scale(1.0);
}

.about--banner::after {
    top: 190px;
    left: 600px;
}

#dev {
    position: relative;
    bottom: 0px;
    right: 0px
}
a {
    transition: color .2s, background-color .2s;
}

a.black {
    border-radius: 4px;
    background-color: #111111;
}

a.black:hover {
    color: #111111;
    background-color: #eeeeee;
}

a.red {
    border-radius: 4px;
    background-color: #BE3739;
}

a.red:hover {
    color: #BE3739;
    background-color: #eeeeee;
}

a.orange {
    border-radius: 4px;
    background-color: #F68034;
}

a.orange:hover {
    color: #F68034;
    background-color: #eeeeee;
}

a.green {
    border-radius: 4px;
    background-color: #48A76B;
}

a.green:hover {
    color: #48A76B;
    background-color: #eeeeee;
}

a.blue {
    border-radius: 4px;
    background-color: #5F85D4;
}

a.blue:hover {
    color: #5F85D4;
    background-color: #eeeeee;
}

a.purple {
    border-radius: 4px;
    background-color: #9C60AA;
}

a.purple:hover {
    color: #9C60AA;
    background-color: #eeeeee;
}

a.gray {
    border-radius: 4px;
    background-color: #585656;
}

a.gray:hover {
    color: #000000;
    background-color: #eeeeee;
}
